{% extends 'wallet/layout.html' %}
{% load static %}

{% block title %}
  WalletKeep App
{% endblock %}

{% block body %}

  <div id="index" class="container">
    <label class="text-xl-start">
      <label class="h3">
        WalletKeep
      </label>
      <label class="h4">
        Is an application that helps you organize expenses, simply create a wallet and you can:
      </label>
      <ul>
        <li class="h4">
          <span class="check">&#10003;</span><span>add</span>
        </li>
        <li class="h4">
          <span class="check">&#10003;</span><span>remove</span>
        </li>
        <li class="h4">
          <span class="check">&#10003;</span><span>delete</span>
        </li>
      </ul>
      <label class="h4">
       Leaving a record of all the operations carried out.
      </label>
      <label class="h4">
        Simple, attractive, fast and responsible design.
      </label>
    </label>


  </div>


{% endblock %}
