{% extends "wallet/layout.html" %}


{% block title %}
  Register
{% endblock %}

{% block body %}
  <h2>Registration Form</h2>

  {% if message %}
    <div>{{ message }}</div>
  {% endif %}

  <div id="div_form" class="container container-lg">
    <div id="contenedor" class="container-sm">
      <form id="formRegister" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div id="divInputs">
          <input autocomplete="off" autofocus type="text" name="username" placeholder="UserName">
          <input autocomplete="off" type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <input type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
      </form>
    </div>
  </div>
  <div id="itemCenter">
    <label>If you already have an account, <a class="link-primary" href="{% url 'login' %}"> Sign In</a></label>
  </div>


{% endblock %}
