
body {
  background-color: #eee;
}

nav .nav.justify-content-center {
  width: 100%;
}

#contenedor {
  margin-bottom: 40px;
}

#alertaBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#divForm {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
#divForm span {
  font-size: 12px;
  margin-top: 5px;
  color: gray;
  font-weight: bold;
}

#divForm form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  align-items: center;
}

#divForm form p {
  height: 150px;
  width: 200px;
  background-color: wheat;
  background-image: url('upload.svg');
  background-repeat: no-repeat;
  background-size: 40% 60%;
  background-position: center;
  border: solid 5px #198754;
  border-radius: 20%;
}

#divForm form #id_file {
  height: 100%;
  width: 100%;
  opacity: 0;
}

#id_file:hover {
  cursor: pointer;
}

input[type="file"]{
    color: transparent;
}

#send:hover {
  background-color: wheat;
  color: black;
}

#divForm form p:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#desc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 40px;
  row-gap: 20px;
}
#desc #box {
  flex: 2 2 auto;
}
.h4 {
  width: 50px;
  text-align: center;
}
